{% paginate blog.articles by 6 %}

<div class="page-width">
  <h1 class="small--text-center">{{ blog.title }}</h1>

  <div class="grid grid--no-gutters grid--uniform">

    {% for article in blog.articles %}
    <div class="grid__item small--one-half medium-up--one-fifth grid___collection si-hover-product">
      <a href="{{article.url}}" class="product-card">
        <div class="product-card__image-container">
          <div class="product-card__image-wrapper">
            <div class="blog-listing-image">
              <img src="{{ article.image | img_url: '300x300' }}"/>
            </div>
          </div>
        </div>
        <div class="product-card__info">
          <div class="product-card__name">{{ article.title }}</div>
          <div class="product-card__price">

          </div>
        </div>
        <div class="product-card__overlay">
          <span class="btn product-card__overlay-btn ">View</span>
        </div>
      </a>
    </div>
    {% endfor %}

  </div>

</div>

{% endpaginate %}